body {
    margin: 0px;
}
a {
    color: rgb(50, 122, 142);
    text-decoration: none;
}
a:visited {
    color: rgb(34, 93, 110);
}
a:hover {
    color: rgb(74, 174, 202);
}
pre.svelteui-Code-root {
    code {
        h1 {
            line-height: 110%;
            color: rgb(29, 84, 100);
        }
    }
}
pre {
    background-color: #193944;
    display: inline-block;
    padding: 15px;
    border-radius: 6px;
}
em {
    color: rgb(216, 30, 61);
}